<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="../style.css">
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>PUCourses-Dev - Matricule-se</title>
</head>

<body>
    <header>
        <!--Logo do menu-->
        <nav class="navbar navbar-expand-lg ">
            <a class="navbar-brand logo" href="landingPage.html"><img src="../images/Logo01_PUCoursesDEV.svg"
                    alt="Logo"></a>
            <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--fim do logo-->
            <!--Menu-->
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="homePage.html">Nossas Escolas</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--fim do menu-->
        <!--Script para funcionamento do menu sanduiche-->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    </header>

    <div class="login-root">
        <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
            <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
                <div class="formbg-outer" style="margin-top: 3%; margin-left: 15%;">
                    <form id="stripe-login" onsubmit="SubmitLogon()">
                        <div class="field-logon padding-bottom--24">
                            <div class="grid--50-50" style="margin-left: 5%;">
                                <label for="fullName" class="formLabel">Nome Completo</label><br>
                            </div>
                            <input type="text" name="fullName" id="logonFullName" value="Douglas E dos Santos">
                        </div>
                        <div class="field-logon padding-bottom--24">
                            <div class="grid--50-50" style="margin-left: 5%;">
                                <label for="email" class="formLabel">E-mail</label>
                            </div>
                            <input type="email" name="email" id="logonEmail" value="des212425@gmail.com">
                        </div>
                        <div class="field-logon-left padding-bottom--24">
                            <div class="grid--50-50">
                                <label for="cpf" style="margin-left: 10%;" class="formLabel">CPF</label>
                                <label for="phone" style="text-align: left;" class="formLabel">
                                    Telefone com DDD
                                </label>
                            </div>
                            <input type="text" name="cpf" id="logonCpf" value="12345678900">
                            <input type="tel" name="phone" id="logonPhone" value="31988441349">
                        </div>
                        <div class="field-logon padding-bottom--24">
                            <div class="grid--50-50" style="margin-left: 5%;">
                                <label for="password" class="formLabel">Senha</label>
                            </div>
                            <input type="password" name="password" id="logonPassword">
                        </div>
                        <div class="field-logon padding-bottom--24">
                            <div class="grid--50-50" style="margin-left: 5%;">
                                <label for="passwordConfirmation" class="formLabel">Repita sua Senha</label>
                            </div>
                            <input type="password" name="passwordConfirmation" id="logonPasswordConfirmation">
                        </div>
                        <div class="field-logon padding-bottom--24">
                            <button type="button" style="margin-left: 5%;" class="btn btn-dark btn-lg mt-1">
                                <a class="buttonsForm" href="homePage.html">
                                    Salvar
                                </a>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>