<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="../style.css">
  <!--BOOTSTRAP-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <title>PUCourses-Dev</title>
</head>

<body>
  <header>
    <!--Logo do menu-->
    <nav class="navbar navbar-expand-lg ">
      <a class="navbar-brand logo" href="landingPage.html"><img src="../images/Logo01_PUCoursesDEV.svg" alt="Logo"></a>
      <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse"
        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--fim do logo-->
      <!--Menu-->
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" style="color: #343a40;" href="editProfile.html">Douglas E dos Santos</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" style="color: red !important;" href="landingPage.html">Sair</a>
          </li>
          <Li>
            <a href="landingPage.html">
              <i class="fa-regular fa-arrow-left-to-line" style="color: #343a40;"></i>
            </a>
          </Li>
        </ul>
      </div>
    </nav>
    <!--fim do menu-->
    <!--Script para funcionamento do menu sanduiche-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  </header>

  <div class="container mt-2">
    <div class="row" style="padding-left: 20%;">
      <div class="col-md-4" style="margin-top: 3%;">
        <div class="card p-3" style="background-color: lightgreen;">
          <div class="d-flex flex-row mb-3">
            <img src="../images/beca.png" width="60" height="40" style="margin-top: 3%;">
            <div class="d-flex flex-column ml-2"><span>Escola Front-End</span><span
                class="text-black-50">Visual</span><span class="ratings"><i class="fa fa-star"></i><i
                  class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
          </div>
          <h6></h6>
        </div>
      </div>
      <div class="col-md-4" style="margin-top: 3%;">
        <div class="card p-3" style="background-color: lightcoral;">
          <div class="d-flex flex-row mb-3">
            <img src="../images/beca.png" width="60" height="40" style="margin-top: 8%;">
            <div class="d-flex flex-column ml-2"><span>Escola Back-End</span>
              <span class="text-black-50">Lógica do funcionamento</span>
            </div>
          </div>
          <h6></h6>
        </div>
      </div>
    </div>
    <div class="row" style="padding-left: 20%;">
      <div class="col-md-4" style="margin-top: 3%;">
        <div class="card p-3" style="background-color: lightblue;">
          <div class="d-flex flex-row mb-3">
            <img src="../images/beca.png" width="60" height="40" style="margin-top: 8%;">
            <div class="d-flex flex-column ml-2">
              <span>Escola Mobile</span>
              <span class="text-black-50">Aplicativos para celular e tablet</span>
            </div>
          </div>
          <h6></h6>

        </div>
      </div>
      <div class="col-md-4" style="margin-top: 3%;">
        <div class="card p-3" style="background-color: rgb(252, 252, 85);">
          <div class="d-flex flex-row mb-3">
            <img src="../images/beca.png" width="60" height="40" style="margin-top: 8%;">
            <div class="d-flex flex-column ml-2"><span>Escola UX/UI</span>
              <span class="text-black-50">Inteface e experiência do usuário</span>
            </div>
          </div>
          <h6></h6>
        </div>
      </div>

    </div>
  </div>
</body>

</html>